<footer id="contacts" class="footer">
  <div class="footer-content-container">
    <div class="footer-wrapper">
      <div class="footer-address-wrapper">
        <a href="#" class="logo" aria-label="Focus Frame">
          <svg class="icon-logo-footer" width="127" height="20">
            <use
              class="foter-svg"
              href="./img/icons/sprite.svg#logo-tablet-desktop"
            ></use>
          </svg>
        </a>
        <address class="footer-address">
          <a href="tel:+380665438912" class="footer-address-point">
            UK: +38 066 543 8912
          </a>
          <a
            href="https://www.google.com/maps/place/%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4021379,30.3678857,11z/data=!3m1!4b1!4m6!3m5!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234!16zL20vMDJzbjM0?authuser=0&entry=ttu"
            target="_blank"
            class="footer-address-point"
            >Ukraine, Kyiv</a
          >
        </address>
      </div>
      <div class="footer-nav-wrapper">
        <ul class="nav-menu-media">
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="nav-link"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="nav-link"
              >Facebook</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="nav-link"
              >Youtube</a
            >
          </li>
        </ul>
        <ul class="nav-menu">
          <li><a href="#about" class="nav-link">About us</a></li>
          <li><a href="#courses" class="nav-link">Our courses</a></li>
          <li><a href="#mentors" class="nav-link">Our mentors</a></li>
          <li><a href="#reviews" class="nav-link">Reviews</a></li>
          <li><a href="#contacts" class="nav-link">Contacts</a></li>
        </ul>
      </div>
      <div class="footer-input-wrapper">
        <form class="form-footer" name="subscribe_form" autocomplete="off">
          <label class="footer-label">
            <input
              class="footer-input"
              type="email"
              name="email"
              placeholder="Enter your email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              required
            />
          </label>
          <button type="submit" class="button-footer">Go</button>
        </form>
      </div>
    </div>
    <div class="footer-oficials-wrapper">
      <div>
        <ul>
          <li class="footer-oficials"><p>Privacy Policy</p></li>
          <li class="footer-oficials"><p>Public Offering Agreement</p></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><p class="footer-oficials">2023 Focus Frame</p></li>
          <li><p class="footer-oficials">&#169; All rights reserved</p></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
