<!--footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-address-wrapper">
      <a href="./index.html" class="logo">
        <svg class="icon-logo-footer" width="127" height="20">
          <use
            class="foter-svg"
            href="../img/icons/sprite.svg#logo-tablet-desktop"
          ></use>
        </svg>
      </a>
      <address class="footer-address">
        <a href="tel:+380665438912" class="footer-address-point"
          >UK: +38 066 543 8912</a
        >
        <p>Ukraine, Kyiv</p>
      </address>
    </div>
    <div class="footer-nav-wrapper">
      <ul class="nav-menu-media">
        <li>
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="nav-link"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="nav-link"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="nav-link"
            >Youtube</a
          >
        </li>
      </ul>
      <ul class="nav-menu">
        <li><a href="#" class="nav-link">About us</a></li>
        <li><a href="#" class="nav-link">Our courses</a></li>
        <li><a href="#" class="nav-link">Our mentors</a></li>
        <li><a href="#" class="nav-link">Reviews</a></li>
        <li><a href="#" class="nav-link">contacts</a></li>
      </ul>
    </div>
    <div class="footer-input-wrapper">
      <form class="form-footer" name="subscribe_form" autocomplete="off">
        <label class="footer-label">
          <input
            class="footer-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </label>

        <button type="submit" class="button-footer">Go</button>
      </form>
    </div>
  </div>
  <div class="footer-oficials-wrapper">
    <div>
      <ul>
        <li class="footer-oficials"><p>Privacy Policy</p></li>
        <li class="footer-oficials"><p>Public Offering Agreement</p></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><p class="footer-oficials">2023 Focus Frame</p></li>
        <li><p class="footer-oficials">&#169; All rights reserved</p></li>
      </ul>
    </div>
  </div>
</!--footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-address-wrapper">
            <div class="footer-address text">
                <a href="./index.html" class="logo">
                    <svg>
                        <use href="../img/icons/sprite.svg#logo-footer"></use>
                    </svg>
                </a>
                <address class="footer-address">
                    <a href="tel:+380665438912" class="footer-address-point">UK: +38 066 543 8912</a>
                    <p>Ukraine, Kyiv</p>
                </address>
            </div>
            <div class="footer-nav text">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/goitclub/" target="_blank" class="nav-link">Instagram</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/goITclub/" target="_blank" class="nav-link">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="nav-link">Youtube</a>
                    </li>
                </ul>
                <ul>
                    <li><a href="#" class="nav-link">About us</a></li>
                    <li><a href="#" class="nav-link">Our courses</a></li>
                    <li><a href="#" class="nav-link">Our mentors</a></li>
                    <li><a href="#" class="nav-link">Reviews</a></li>
                    <li><a href="#" class="nav-link">contacts</a></li>
                </ul>

            </div>
            <div class="footer-signup">
                <form class="form-footer" action="/" name="subscribe_form" autocomplete="off">
                    <div class="subscribe">
                        <label class="visually-hidden">Enter your email</label>
                        <input class="footer-input" type="email" name="email" placeholder="Enter your email" required/>
                    </div>
                    <button type="submit" class="button-footer">Go</button>
                </form>
            </div>
        </div>
        <div class="footer-officials-wrapper text">
            <ul>
                <li class="footer-oficials">
                    <p>Privacy Policy</p>
                </li>
                <li class="footer-oficials">
                    <p>Public Offering Agreement</p>
                </li>
            </ul>
            <ul>
                <li>
                    <p class="footer-oficials">2023 Focus Frame</p>
                </li>
                <li>
                    <p class="footer-oficials">&#169; All rights reserved</p>
                </li>
            </ul>
        </div>

    </div>
</footer>
