<header class="header container">
  <div class="header-wrapper">
    <div class="header-mobile-wrapper">
      <svg class="header-logo">
        <use href="./img/icons/sprite.svg#logo"></use>
      </svg>
      <ul class="mobile-header-menu">
        <li class="mobile-header-list">
          <a class="header-mobile-link" href="">
            <svg class="header-link-icon" width="16" height="16">
              <use href="./img/icons/sprite.svg#camera"></use>
            </svg>
          </a>
        </li>

        <li class="mobile-header-list">
          <button class="button-header" type="button">
            <svg class="button-header-icon">
              <use href="./img/icons/sprite.svg#nav_button"></use>
            </svg>
          </button>
        </li>
      </ul>

      <nav class="header-nav">
        <ul class="header-nav-item">
          <li class="header-nav-list">
            <a href="" class="header-nav-link">About us</a>
          </li>
          <li class="header-nav-list">
            <a href="" class="header-nav-link">Our courses</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Our mentors</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Reviews</a>
          </li>
          <li class="header-nav-list">
            <a href="#" class="header-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <a class="header-link" href="#">Sign up</a>
  </div>
</header>
