<header class="header">
  <div class="header-wrapper">
    <div class="header-mobile-wrapper">
      <a class="link-logo" href="#" aria-label="Focus frame">
        <svg class="header-logo-mobile">
          <use href="./img/icons/sprite.svg#logo-tablet-desktop"></use>
        </svg>
      </a>

      <ul class="mobile-header-menu">
        <li class="mobile-header-list">
          <a class="header-mobile-link" href="#sign_up" aria-label="Sign Up">
            <svg class="header-link-icon" width="16" height="16">
              <use href="./img/icons/sprite.svg#camera"></use>
            </svg>
          </a>
        </li>

        <li class="mobile-header-list">
          <button
            class="button-header js-open-menu"
            type="button"
            title="Mobile menu"
          >
            <svg class="button-header-icon">
              <use href="./img/icons/sprite.svg#nav_button"></use>
            </svg>
          </button>
        </li>
      </ul>

      <nav class="header-nav">
        <ul class="header-nav-item">
          <li class="header-nav-list">
            <a href="#about" class="header-nav-link">About us</a>
          </li>
          <li class="header-nav-list">
            <a href="#courses" class="header-nav-link">Our courses</a>
          </li>
          <li class="header-nav-list">
            <a href="#mentors" class="header-nav-link">Our mentors</a>
          </li>
          <li class="header-nav-list">
            <a href="#reviews" class="header-nav-link">Reviews</a>
          </li>
          <li class="header-nav-list">
            <a href="#contacts" class="header-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <a class="header-link" href="#sign_up">Sign up</a>
  </div>
</header>
