<div class="container">
  <header class="header">
    <svg class="header-logo" width="123" height="16">
      <use href="./img/icons/#logo"></use>
    </svg>

    <a href="">
      <svg class="header-link-icon" width="16" height="16">
        <use href="../img/icons/#camera"></use>
      </svg>
    </a>

    <button type="button" class="button-header">
      <svg class="button-header-icon" width="40" height="28">
        <use href="./img/icons/#nav_button"></use>
      </svg>
    </button>

    <div class="header-nav-wrapper">
      <button class="header-nav-close" type="button">
        <svg class="nav-close-icon" width="10" height="10">
          <use href=""></use>
        </svg>
      </button>
      <nav class="header-nav">
        <ul class="header-nav-item">
          <li class="header-nav-list">
            <a href="" class="header-nav link">About us</a>
          </li>
          <li class="header-nav-list">
            <a href="" class="header-nav link">Our courses</a>
          </li>
          <li class="header-nav-list">
            <a href="" class="header-nav link">Our mentors</a>
          </li>
          <li class="header-nav-list">
            <a href="" class="header-nav link">Reviews</a>
          </li>
          <li class="header-nav-list">
            <a href="" class="header-nav link">Contacts</a>
          </li>
        </ul>
      </nav>

      <picture>
        <img
          src="../img/images/about_us/mobile/camera_about_us_mobile.webp"
          alt="photo-camera"
        />
      </picture>
    </div>

    <!-- 
    <a href="">Sign up</a> -->
  </header>
</div>
