<!-- HERO section -->
<section class="hero-section">
  <div class="hero-container">
    <div class="content">
      <h1 class="hero-title">
        Discover the magic of <span class="logo-accent">photography</span> in
        our school
      </h1>

      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>

      <div class="hero-picture">
        <div class="hero-img">
          <div class="hero-image">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/images/hero/students_mobile/happy_studend3_mobile.webp    1x,
                  ./img/images/hero/students_mobile/happy_studend3_2x_mobile.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/images/hero/students_not_mobile/happy_studend3_1x_not_mobile.webp 1x,
                  ./img/images/hero/students_not_mobile/happy_studend3_2x_not_mobile.webp 2x
                "
              />
              <img
                class="picture"
                src="./img/images/hero/students_mobile/happy_studend3_mobile.webp"
                alt="Best students"
              />
            </picture>
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/images/hero/students_mobile/happy_studend2_mobile.webp    1x,
                  ./img/images/hero/students_mobile/happy_studend2_2x_mobile.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/images/hero/students_not_mobile/happy_studend2_1x_not_mobile.webp 1x,
                  ./img/images/hero/students_not_mobile/happy_studend2_2x_not_mobile.webp 2x
                "
              />
              <img
                class="picture"
                src="./img/images/hero/students_not_mobile/happy_studend2_1x_not_mobile.webp"
                alt="Best students"
              />
            </picture>
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/images/hero/students_mobile/happy_studend1_mobile.webp    1x,
                  ./img/images/hero/students_mobile/happy_studend1_2x_mobile.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/images/hero/students_not_mobile/happy_studend1_1x_not_mobile.webp 1x,
                  ./img/images/hero/students_not_mobile/happy_studend1_2x_not_mobile.webp 2x
                "
              />
              <img
                class="picture"
                src="./img/images/hero/students_mobile/happy_studend1_mobile.webp"
                alt="Best students"
              />
            </picture>
          </div>
          <div class="arrow">
            <a href="#reviews">
              <p class="hero-subtitle">Our happy students</p>

              <svg class="hero-arrow" width="20" height="20">
                <use href="./img/icons/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="svg-container">
          <svg class="hero-star" width="20" height="20">
            <use href="./img/icons/sprite.svg#star"></use>
          </svg>
          <ul class="hero-list">
            <li>
              <a href="#reviews">
                <p class="reviews">Reviews</p>
                <p class="numb">+1500</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="photographer-pic">
      <picture>
        <!-- mob -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/images/hero/photographer_mobile/photographer_mobile.webp    1x,
            ./img/images/hero/photographer_mobile/photographer_2x_mobile.webp 2x
          "
        />
        <!-- Tab -->
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ./img/images/hero/photographer_tablet/photographer_1x_tablet.webp 1x,
            ./img/images/hero/photographer_tablet/photographer_2x_tablet.webp 2x
          "
        />
        <!-- Desk 1280 -->
        <source
          media="(min-width: 1280px) and (max-width: 1439px)"
          srcset="
            ./img/images/hero/photographer_desktop/photographer_1x_desktop.webp 1x,
            ./img/images/hero/photographer_desktop/photographer_2x_desktop.webp 2x
          "
        />
        <!-- Desk 1440 -->
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/images/hero/photographer_desktop/photographer_1x_desktop.webp 1x,
            ./img/images/hero/photographer_desktop/photographer_2x_desktop.webp 2x
          "
        />
        <img
          class=""
          src="./img/images/hero/photographer_mobile/photographer_mobile.webp"
          alt="Best photographer"
          width="259"
          height="314"
        />
      </picture>
    </div>
  </div>
</section>
