<!-- HERO section -->
<section>
  <div class="container hero-container">
    <h1 class="hero-title">
      Discover the magic of <span class="logo-accent">photography</span> in our
      school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div class="hero-picture">
      <div class="hero-img">
        <div class="hero-image">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/images/hero/students_mobile/happy_studend1_mobile.webp,
                1x,
                ../img/images/hero/students_mobile/happy_studend1_2x_mobile.webp 2x
              "
            />
            <img
              class=""
              src="../img/images/hero/students_mobile/happy_studend1_mobile.webp"
              width="44"
              height="44"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/images/hero/students_mobile/happy_studend2_mobile.webp,
                1x,
                ../img/images/hero/students_mobile/happy_studend2_2x_mobile.webp 2x
              "
            />
            <img
              class=""
              src="../img/images/hero/students_mobile/happy_studend2_mobile.webp"
              width="44"
              height="44"
            />
          </picture>
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/images/hero/students_mobile/happy_studend3_mobile.webp    1x,
                ../img/images/hero/students_mobile/happy_studend3_2x_mobile.webp 2x
              "
            />
            <img
              class=""
              src="../img/images/hero/students_mobile/happy_studend3_mobile.webp"
              width="44"
              height="44"
            />
          </picture>
          <div class="svg-container">
            <svg class="hero-star" width="20" height="20">
              <use href="./img/icons/sprite.svg#star"></use>
            </svg>
          </div>
        </div>
        <div class="arrow">
          <p class="hero-subtitle">Our happy students</p>

          <svg class="hero-arrow" width="20" height="20">
            <use href="./img/icons/sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/images/hero/photographer_mobile/photographer_mobile.webp      1x,
          ../img/images/hero/photographer_desktop/photographer_2x_desktop.webp 2x
        "
      />
      <img
        class="photographer-pic"
        src="../img/images/hero/photographer_mobile/photographer_mobile.webp"
        width="259"
        height="314"
      />
    </picture>
  </div>
</section>
