<!-- <div class="backdrop" data-modal>
    <div class="modal">
        <button class="modal-close-button" type="button" data-modal-close>
            <svg class="modal-close-icon" width="32" height="32">
                <use href="../img/icons/sprite.svg#cross"></use>
            </svg>
        </button>
        <nav>
            <ul class="modal-list">
                <li class="modal-list-item">
                    <a class="modal-link link-actual" href="#">ABOUT US</a>
                </li>
                <li class="modal-list-item">
                    <a href="#" class="modal-link">OUR COURSES</a>
                </li>
                <li class="modal-list-item">
                    <a href="#" class="modal-link">OUR MENTORS</a>
                </li>
                <li class="modal-list-item">
                    <a href="#" class="modal-link">REVIEVS</a>
                </li>
                <li class="modal-list-item">
                    <a href="#" class="modal-link">CONTACTS</a>
                </li>
            </ul>
        </nav>
        <img src="../img/images/menu_mobile_tablet/mobile/camera_menu_mobile.webp" alt="Black photo camera above three beige cylinders" width="329" height="218"/>
    </div>
</div>    -->
