<div class="backdrop js-menu-container">
  <div class="modal">
    <button
      class="modal-close-button js-close-menu"
      type="button"
      title="close mobile menu"
    >
      <svg class="modal-close-icon" width="32" height="32">
        <use href="./img/icons/sprite.svg#cross"></use>
      </svg>
    </button>
    <nav>
      <ul class="modal-list">
        <li class="modal-list-item">
          <a href="#about" class="modal-link header-link-js">About us</a>
        </li>
        <li class="modal-list-item">
          <a href="#courses" class="modal-link header-link-js">Our courses</a>
        </li>
        <li class="modal-list-item">
          <a href="#mentors" class="modal-link header-link-js">Our mentors</a>
        </li>
        <li class="modal-list-item">
          <a href="#reviews" class="modal-link header-link-js">Reviews</a>
        </li>
        <li class="modal-list-item">
          <a href="#contacts" class="modal-link header-link-js">Contacts</a>
        </li>
      </ul>
    </nav>
    <picture>
      <source
        media="(max-width: 769px)"
        srcset="
          ./img/images/menu_mobile_tablet/mobile/camera_menu_mobile.webp    1x,
          ./img/images/menu_mobile_tablet/mobile/camera_menu_2x_mobile.webp 2x
        "
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          ./img/images/menu_mobile_tablet/tablet/camera_menu_1x_tablet.webp 1x,
          ./img/images/menu_mobile_tablet/tablet/camera_menu_2x_tablet.webp 2x
        "
      />
      <img
        src="./img/images/menu_mobile_tablet/mobile/camera_menu_mobile.webp"
        alt="Black photo camera above three beige cylinders"
        class="modal-image"
      />
    </picture>
  </div>
</div>
