<section id="mentors" class="section-mentors">
  <div class="container-mentors">
    <h2 class="mentors-heading">
      Our <span class="mentors-span">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentors-link">
        <div class="mentor-photo">
          <img
            srcset="
              ./img/images/our_mentors/emilia_smith_1x.webp 1x,
              ./img/images/our_mentors/emilia_smith_2x.webp 2x
            "
            src="./img/images/our_mentors/emilia_smith_1x.webp"
            alt="Emilia Smith"
            width="180"
            height="180"
          />
        </div>
        <div class="mentor-name">
          <h3 class="mentor-naming">Emilia Smith</h3>
          <p class="mentor-info">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-link">
        <div class="mentor-photo">
          <img
            srcset="
              ./img/images/our_mentors/alex_lebedev_1x.webp 1x,
              ./img/images/our_mentors/alex_lebedev_2x.webp 2x
            "
            src="./img/images/our_mentors/alex_lebedev_1x.webp"
            alt="Alex Lebedev"
            width="180"
            height="180"
          />
        </div>
        <div class="mentor-name">
          <h3 class="mentor-naming">Alex Lebedev</h3>
          <p class="mentor-info">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-link">
        <div class="mentor-photo">
          <img
            srcset="
              ./img/images/our_mentors/mia_dubrovska_1x.webp 1x,
              ./img/images/our_mentors/mia_dubrovska_2x.webp 2x
            "
            src="./img/images/our_mentors/mia_dubrovska_1x.webp"
            alt="Mia Dubrovska"
            width="180"
            height="180"
          />
        </div>
        <div class="mentor-name">
          <h3 class="mentor-naming">Mia Dubrovska</h3>
          <p class="mentor-info">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-link">
        <div class="mentor-photo">
          <img
            srcset="
              ./img/images/our_mentors/eliot_kovalev_1x.webp 1x,
              ./img/images/our_mentors/eliot_kovalev_2x.webp 2x
            "
            src="./img/images/our_mentors/eliot_kovalev_1x.webp"
            alt="Eliot Kovalev"
            width="180"
            height="180"
          />
        </div>
        <div class="mentor-name">
          <h3 class="mentor-naming">Eliot Kovalev</h3>
          <p class="mentor-info">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
