<section class="sign-up container">
    <div class="sign-up__block-form">
        <div class="sign-up__title title-h3">Sign<span>Up</span></div>
        <p class="sign-up__text">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
        <form class="sign-up__form" action="#" method="post">
            <label class="sign-up__label" for="name"></label><input class="sign-up__field" type="text">
        </form>
    </div>
    <div class="sign-up__block-img"></div>
</section>
