/**
 |============================
 | base
 |============================
*/
.title-h2 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.title-h2 span {
  color: var(--color-secondary-title);
}

/**
 |============================
 | block style
 |============================
*/
.notice {
  width: 138%;
  text-align: center;
  margin: 0 0 80px 0;
  margin-left: -38%;
  overflow: hidden;
  text-transform: uppercase;
}

.notice__inner {
  display: flex;
}

.notice__line {
  flex-shrink: 0;
  margin: 0;
  padding: 24px 15px;
  min-width: 100%;
  white-space: nowrap;
  border-top: 1px solid var(--our-courses-border-color);
  border-bottom: 1px solid var(--our-courses-border-color);
  animation-name: noticeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes noticeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/**
 |============================
 | media
 |============================
*/
@media screen and (min-width: 375px) {
  .notice {
    width: 132%;
    margin-left: -32%;
  }
}

@media screen and (min-width: 425px) {
  .notice {
    width: 128%;
    margin-left: -28%;
  }
}

@media screen and (min-width: 768px) {
  .notice {
    width: 100%;
    margin-left: -6%;
    margin: 0 0 100px 0;
  }

  .title-h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .notice {
    width: 100%;
    margin-left: 0;
    margin: 0 0 150px 0;
  }

  .title-h2 {
    font-size: 59px;
    line-height: 64px;
  }
}