/* dm-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v14-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/dm-sans-v14-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dm-sans-v14-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans-v14-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --color-primary-bg: #121212;
    --color-button-secondary: #1D1D1D;
    --color-block-gradient: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
    --color-secondary-title: #BEA69E;
    --color-primary-text: #fff;
    --color-secondary-text: rgba(255, 255, 255, 0.5);
    --our-courses-item-number: rgba(255, 255, 255, 0.40);
    --our-courses-border-color: rgba(255, 255, 255, 0.20);
    --our-courses-right-arrow-color: #777777;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    min-width: 320px;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--color-primary-text);
    background-color: var(--color-primary-bg);
}

.container {
    min-width: 320px;
    max-width: 1440px;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 0 100px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin: 0 auto;
    }
}

/**
 |============================
 | typography
 |============================

.title-h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -2.56px;
}

.title-h1 span {
    color: var(--color-brown);
    font-style: italic;
}

.title-h2 {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
    text-transform: uppercase;
}

.title-h2 span {
    color: var(--color-brown);
}

.title-h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -1.92px;
}

.title-h3 span {
    color: var(--color-brown);
}

.title-h4 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
}

.text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
}

.text-gray {
    color: var(--text-color-gray);
}

.subtext {
    font-size: 14px;
    line-height: 1.28;
}

.list {
    display: flex;
    column-gap: 40px;
    flex-wrap: nowrap;
    justify-content: center;
}

.list__items {
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

.list__items:hover {
    color: var(--color-brown);
    font-weight: 700;
}
*/
/**
 |============================
 | buttons
 |============================

.btn-signup {
    border-radius: 12px;
    background: var(--color-white);
    padding: 16px 84px;
    text-align: center;
    border: 0;
    outline: 0;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.btn-signup:hover {
    background: var(--color-gray);
    color: var(--color-brown);
}
*/