.footer {
  border-top: 1px solid var(--our-courses-border-color);
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 40px 20px 20px;
  background-color: var(--color-primary-bg);
  background-image: url(../img/images/header_hero_footer_background/mobile/footer/background_1x_mobile.png),
    url(../img/images/header_hero_footer_background/mobile/footer/background_1x_mobile.png),
    url(../img/images/header_hero_footer_background/mobile/footer/background_1x_mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center, calc(50% - 345px) 0, calc(50% + 345px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/images/header_hero_footer_background/mobile/footer/background_2x_mobile.png),
      url(../img/images/header_hero_footer_background/mobile/footer/background_2x_mobile.png),
      url(../img/images/header_hero_footer_background/mobile/footer/background_2x_mobile.png);
  }
}

.footer-content-container {
  width: 100%;
  max-width: 335px;
  min-width: 295px;
  margin: 0 auto;
}

.footer-wrapper {
  width: 100%;
  max-width: 335px;
  display: flex;
  flex-direction: column;
}

.footer-address-wrapper {
  margin-bottom: 40px;
}

.icon-logo-footer {
  margin-bottom: 16px;
  fill: var(--color-primary-text);
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover .icon-logo-footer,
.logo:focus .icon-logo-footer {
  fill: var(--color-secondary-title);
  transform: scale(1.05);
}

.footer-address {
  color: var(--color-primary-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  display: flex;
  height: 46px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-address-point {
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-point:hover,
.footer-address-point:focus {
  color: var(--color-secondary-title);
}

.footer-nav-wrapper {
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
}

.nav-menu-media {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-right: 40px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.nav-link {
  display: block;
  color: var(--color-primary-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-secondary-title);
}

.footer-input-wrapper {
  margin-bottom: 40px;
  min-width: 295px;
}

.form-footer {
  min-width: 246px;
}

.footer-input {
  width: 100%;
  max-width: 230px;
  height: 60px;
  border-radius: 12px;
  background-color: var(--color-primary-text);
  border: none;
  padding-left: 18px;
  padding-right: 0;
  color: var(--color-primary-bg);
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .footer-input-wrapper {
    min-width: 335px;
  }

  .footer-input {
    min-width: 267px;
  }

}

.footer-input:hover,
.footer-input:focus {
  outline: none;
  border-radius: 12px;
  border: 1px solid var(--our-courses-border-color);
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
}

.footer-input:active {
  color: var(--color-primary-text);
  background: var(--color-primary-bg);
}

.footer-input::placeholder {
  color: var(--color-primary-bg);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.7;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover::placeholder,
.footer-input:focus::placeholder {
  color: var(--color-secondary-text);
}

.button-footer {
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: var(--color-button-secondary);
  border: none;
  color: var(--color-primary-text);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover,
.button-footer:focus {
  background: var(--color-primary-text);
  color: var(--color-button-secondary);
}

.footer-oficials-wrapper {
  width: 100%;
  max-width: 335px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-oficials {
  color: var(--color-primary-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

@media screen and (max-width: 467px) {
  .footer {
    background-image: url(../img/images/header_hero_footer_background/mobile/footer/background_1x_mobile.png);
    background-size: cover;
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/images/header_hero_footer_background/mobile/footer/background_2x_mobile.png);
    }
  }

  .footer-wrapper {
    width: 100%;
  }
}

/*Tablet*/


@media screen and (min-width: 768px) {
  .footer {
    background-position: center;
    background-size: cover;
    display: block;
    padding: 50px 32px 25px;
    background-image: url(../img/images/header_hero_footer_background/tablet/footer/background_1x_tablet.png);

  }

  .footer-content-container {
    max-width: 704px;
  }



  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/images/header_hero_footer_background/tablet/footer/background_2x_tablet.png);

    }
  }

  .footer-wrapper {
    margin: 0 auto;
    max-width: 704px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 58px;
  }

  .footer-address-wrapper {
    min-width: 142px;
  }

  .icon-logo-footer {
    margin-bottom: 25px;
    width: 123px;
    height: 16px;
  }

  .nav-menu {
    min-width: 100px;
  }

  .nav-menu-media {
    margin-right: 25px;
  }

  .footer-input-wrapper {
    min-width: 246px;
  }

  .footer-input {
    min-width: 178px;
    width: 178px;
  }

  .footer-oficials-wrapper {
    margin: 0 auto;
    max-width: 704px;
  }
}

@media screen and (min-width: 800px) {
  .footer {
    background-position: center, calc(50% - 765px) 0, calc(50% + 765px) 0;
    display: block;
    background-size: contain;
    padding: 50px 32px 25px;
    background-image: url(../img/images/header_hero_footer_background/tablet/footer/background_1x_tablet.png),
      url(../img/images/header_hero_footer_background/tablet/footer/background_1x_tablet.png),
      url(../img/images/header_hero_footer_background/tablet/footer/background_1x_tablet.png);
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/images/header_hero_footer_background/tablet/footer/background_2x_tablet.png),
        url(../img/images/header_hero_footer_background/tablet/footer/background_2x_tablet.png),
        url(../img/images/header_hero_footer_background/tablet/footer/background_2x_tablet.png);
    }
  }
}

/*Desktop:1280*/
@media screen and (min-width: 1280px) {
  .footer {
    padding: 50px 100px 25px;
    background-image: url(../img/images/header_hero_footer_background/desktop_1280/footer/background_1x_desktop_1280.png);
    background-size: cover;
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/images/header_hero_footer_background/desktop_1280/footer/background_2x_desktop_1440.png);
    }
  }

  .footer-content-container {
    max-width: 1080px;
  }

  .footer-wrapper {
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    gap: 137px;
  }

  .footer-address-wrapper {
    margin-right: 145px;
  }

  .footer-nav-wrapper {
    margin-bottom: 50px;
  }

  .nav-menu-media {
    margin-right: 50px;
    gap: 20px;
  }

  .nav-menu {
    gap: 20px;
  }

  .form-footer {
    min-width: 297px;
  }

  .footer-label {
    margin-right: 16px;
  }

  .footer-input {
    width: 216px;
  }

  .footer-oficials-wrapper {
    min-width: 705px;
    max-width: 1080px;
  }
}

/*Desktop:1440*/
@media screen and (min-width: 1440px) {
  .footer {
    padding: 50px 100px 25px;
    background-image: url(../img/images/header_hero_footer_background/desktop_1440/footer/background_1x_desktop_1440.png);
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/images/header_hero_footer_background/desktop_1440/footer/background_2x_desktop_1440.png);
    }
  }

  .footer-content-container {
    max-width: 1240px;
  }

  .footer-wrapper {
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    gap: 191px;
  }

  .footer-address-wrapper {
    margin-right: 148px;
  }

  .nav-menu-media {
    margin-right: 100px;
  }

  .footer-oficials-wrapper {
    min-width: 1081px;
    max-width: 1240px;
  }
}