/*.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 320px;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 20px 20px;
  background-color: var(--black, #121212);
  background-image: url(../img/images/header_hero_footer_background/mobile/footer/background_1x_mobile.png),
    url(../img/images/header_hero_footer_background/mobile/footer/background_1x_mobile.png),
    url(../img/images/header_hero_footer_background/mobile/footer/background_1x_mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center, calc(50% - 306px) 0, calc(50% + 306px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/images/header_hero_footer_background/mobile/footer/background_2x_mobile.png),
      url(../img/images/header_hero_footer_background/mobile/footer/background_2x_mobile.png),
      url(../img/images/header_hero_footer_background/mobile/footer/background_2x_mobile.png);
  }
}

.footer-wrapper {
  min-width: 320px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

.footer-address-wrapper {
  margin-bottom: 40px;
}

.icon-logo-footer {
  margin-bottom: 16px;
  fill: #fff;
}

.footer-address {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  display: flex;
  height: 46px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-nav-wrapper {
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
}

.nav-menu-media {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-right: 40px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.nav-link {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brown, #bea69e);
}

.footer-input-wrapper {
  margin-bottom: 40px;
}

.footer-input {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  background: #fff;
  border: none;
  padding-left: 18px;
  padding-right: 0;
}

.footer-input:hover {
  outline: none;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.footer-input:focus {
  outline: none;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: #fff;
}

placeholder {
  color: #121212;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.7;
}

.button-footer {
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: #1d1d1d;
  border: none;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-oficials-wrapper {
  min-width: 320px;
  max-width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-oficials {
  color: #fff;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

/*Tablet
@media screen and (min-width: 768px) {
  .footer {
    background-position: center, calc(50% - 313px) 0, calc(50% + 313px) 0;
    display: block;
    padding: 50px 32px 25px;
    background-image: url(../img/images/header_hero_footer_background/tablet/footer/background_1x_tablet.png),
      url(../img/images/header_hero_footer_background/tablet/footer/background_1x_tablet.png),
      url(../img/images/header_hero_footer_background/tablet/footer/background_1x_tablet.png);
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/images/header_hero_footer_background/tablet/footer/background_2x_tablet.png),
        url(../img/images/header_hero_footer_background/tablet/footer/background_2x_tablet.png),
        url(../img/images/header_hero_footer_background/tablet/footer/background_2x_tablet.png);
    }
  }

  .footer-wrapper {
    margin: 0 auto;
    min-width: 376px;
    max-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-address-wrapper {
    margin-right: 58px;
  }
  .icon-logo-footer {
    margin-bottom: 25px;
    width: 123px;
    height: 16px;
  }

  .nav-menu-media {
    margin-right: 25px;
  }

  .nav-menu {
    margin-right: 61px;
  }

  .footer-input {
    width: 178px;
  }

  .footer-oficials-wrapper {
    margin: 0 auto;
    min-width: 376px;
    max-width: 768px;
  }
}

/*Desktop:1280
@media screen and (min-width: 1280px) {
  .footer {
    padding: 50px 100px 25px;
    background-image: url(../img/images/header_hero_footer_background/desktop_1280/footer/background_1x_desktop_1280.png);
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/images/header_hero_footer_background/desktop_1280/footer/background_2x_desktop_1440.png);
    }
  }

  .footer-wrapper {
    min-width: 769px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
  }

  .footer-nav-wrapper {
    margin-bottom: 50px;
  }

  .nav-menu-media {
    margin-right: 50px;
    gap: 20px;
  }

  .nav-menu {
    gap: 20px;
  }

  .footer-label {
    margin-right: 16px;
  }

  .footer-input {
    width: 216px;
  }

  .footer-oficials-wrapper {
    min-width: 769px;
    max-width: 1280px;
  }
}

/*Desktop:1440
@media screen and (min-width: 1440px) {
  .footer {
    padding: 50px 100px 25px;
    background-image: url(../img/images/header_hero_footer_background/desktop_1440/footer/background_1x_desktop_1440.png);
  }

  @media only screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/images/header_hero_footer_background/desktop_1440/footer/background_2x_desktop_1440.png);
    }
  }

  .footer-wrapper {
    min-width: 1281px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
  }

  .nav-menu-media {
    margin-right: 100px;
  }

  .footer-oficials-wrapper {
    min-width: 1281px;
    max-width: 1440px;
  }
}
*/



/**
 |============================
 | base
 |============================
*/
.text {
  color: var(--color-primary-text);
  font-size: 14px;
  line-height: 1.28;
}

/**
 |============================
 | block style
 |============================
*/
.footer {
  background: transparent url(/img/images/header_hero_footer_background/footer-bg-mob.svg) repeat -1% -46% / 25%;
  border-top: 1px solid var(--our-courses-border-color);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-address-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 193px;
  margin-bottom: 40px;
}

.footer-address {
  font-style: normal;
  text-wrap: nowrap;
  margin-bottom: 40px;
}

.logo {
  margin-bottom: 16px;
  display: block;
}

.logo svg {
  fill: var(--color-primary-text);
  width: 123px;
  height: 16px;
}

.footer-address-point {
  margin-bottom: 10px;
  display: block;
  color: inherit;
}

.footer-nav {
  flex-grow: 2;
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.footer-nav li {
  margin-bottom: 14px;
  text-wrap: nowrap;
}

.footer-nav li:last-child {
  margin-bottom: 0;
}

.footer-nav li:hover {
  text-decoration: underline;
}

.form-footer {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 8px;
}

.footer-input {
  width: 216px;
  height: 60px;
  border-radius: 12px;
  background: var(--color-primary-text);
  border: 0;
  outline: 0;
  padding: 20px 18px;
  color: var(--color-primary-bg);
  line-height: 1.25;
}

.footer-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: #fff;
}

.footer-input:placeholder {
  color: var(--color-primary-bg);
  opacity: 0.7;
}

.button-footer {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: var(--color-button-secondary);
  border: 0;
  outline: 0;
  color: var(--color-primary-text);
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}

.footer-officials-wrapper {
  display: flex;
  justify-content: space-between;
}

/**
 |============================
 | media
 |============================
*/
@media screen and (min-width: 375px) {
  .footer-input {
    width: 267px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background: transparent url(/img/images/header_hero_footer_background/footer-bg-tab.svg) repeat -16% -23% / 22%;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .footer-address {
    margin-bottom: 0;
  }

  .footer-address-wrapper {
    flex-wrap: nowrap;
    column-gap: 58px;
    margin-bottom: 74px;
  }

  .logo {
    margin-bottom: 25px;
  }

  .footer-nav {
    column-gap: 25px;
    margin-bottom: 0;
  }

  .form-footer {
    column-gap: 8px;
  }

  .footer-input {
    width: 178px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background: transparent url(/img/images/header_hero_footer_background/footer-bg.svg) repeat -10% -23% / 20%;
  }

  .footer-address-wrapper {
    column-gap: 137px;
    margin-bottom: 50px;
  }

  .footer-nav {
    column-gap: 50px;
    flex-grow: 2;
    justify-content: flex-end;
  }

  .footer-nav li {
    margin-bottom: 20px;
  }

  .form-footer {
    column-gap: 16px;
  }

  .footer-input {
    width: 216px;
  }
}

@media screen and (min-width: 1440px) {

  .footer-address-wrapper {
    column-gap: 193px;
  }

  .footer-nav {
    column-gap: 100px;
  }
}