.hero-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background: #1d1d1d;
}
.hero-title {
  padding: 40px 20px 20px 20px;
  text-align: left;
  width: 295px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
}
.logo-accent {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.04em;
}
.hero-text {
  width: 295px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  padding: 0px 20px 40px 20px;
}
.hero-picture {
  display: flex;
  flex-direction: column;
}
.hero-arrow {
  fill: #fff;
}
.photographer-pic {
}
.hero-img {
  display: flex;
  flex-direction: column;
}
.arrow {
  display: flex;
  width: 89px;
  height: 36px;
  align-items: center;
}
.hero-image {
  display: flex;
  padding-bottom: 8px;
}
.hero-star {
  border-radius: 100px;
  background: #bea69e;
  flex-shrink: 0;
}
.hero-subtitle {
  font-size: 14px;

  line-height: 1.28em;
  letter-spacing: -0.56px;
}
