.hero-container {
  display: flex;
  flex-direction: column;

  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background: #1d1d1d;
}
.hero-title {
  padding: 40px 20px 20px 20px;
  text-align: left;
  width: 295px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: -1.6px;
}
.logo-accent {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: -1.6px;
}
.hero-text {
<<<<<<< Updated upstream
  width: 295px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.28px;
  padding: 0px 20px 40px 20px;
}
.hero-picture {
  display: flex;
}
.hero-arrow {
  fill: #fff;
}
.photographer-pic {
=======
>>>>>>> Stashed changes
}
