.section-mentors {
    margin: 80px 0;
}

.container-mentors {
    min-width: 320px;
    max-width: 335px;
    margin: 0 auto;
}

.mentors-span {
    color: var(--color-secondary-title);
    margin-bottom: 40px;
}

.mentors-heading {
    margin-bottom: 40px;
    font-size: 48px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.04em;

}

.mentors-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.mentor-naming {
    margin-bottom: 4px;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
}

.mentor-info {
    color: var(--color-secondary-text);
    text-align: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}

.mentor-photo {
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .section-mentors {
        margin: 100px 0;
    }

    .container-mentors {
        max-width: 768px;
        padding: 0 32px;
    }

    .mentors-heading {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.125;
        letter-spacing: 0.04em;
    }

    .mentors-list {
        display: flex;
        flex-direction: row;
        gap: 100px;
        row-gap: 93px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1280px) {
    .section-mentors {
        margin: 150px 0;
    }

    .container-mentors {
        max-width: 1280px;
        padding: 0 100px;
    }

    .mentors-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 93px;
        max-width: 1034px;
        flex-direction: row;
        margin: 0 auto;
    }

    .mentors-heading {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.13;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1440px) {
    .container-mentors {
        max-width: 1440px;
    }

    .mentors-list {
        gap: 113px;
    }
}