.our-courses {
    margin: 80px auto;
}

.our-courses .container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

.our-courses-title-and-introductory-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.our-courses-title {
    color: var(--color-primary-text);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
}

.our-courses-title-and-introductory-text span {
    color: var(--color-secondary-title);
}

.our-courses-introductory-text {
    color: var(--color-primary-text);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.courses-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.courses-list-container {
    display: block;
    position: relative;
    border-radius: 12px;
    border: 1px solid var(--our-courses-border-color);
    background: var(--color-block-gradient);
    padding: 88px 28px 28px 28px;
    width: 335px;
}

.item-number {
    position: absolute;
    top: 28px;
    left: 28px;
}

.item-number p {
    color: var(--our-courses-item-number);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.our-courses-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 28px;
    right: 28px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-button-secondary);
    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-courses-svg-container svg {
    fill: transparent;
    stroke: var(--our-courses-right-arrow-color);
    transition: stroke 200ms cubic-bezier(0.4, 0, 0.2, 1),
        translate 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-courses-svg-container:hover,
.our-courses-svg-container:focus {
    background-color: var(--color-secondary-title);
    transform: scale(1.1);
}

.our-courses-svg-container:hover svg,
.our-courses-svg-container:focus svg {
    stroke: var(--color-primary-text);
    transform: scale(1.1);
}

.course-name {
    max-width: 265px;
    color: var(--color-primary-text);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    margin-bottom: 164px;
}

.course-description {
    color: var(--color-secondary-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

@media screen and (max-width: 374px) {
    .courses-list-container {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    .our-courses {
        margin: 100px auto;
    }

    .our-courses .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .our-courses-title {
        font-size: 48px;
        line-height: 1.12;
    }

    .our-courses-title-and-introductory-text {
        flex-direction: row;
        margin-bottom: 50px;
        justify-content: space-between;
    }

    .our-courses-introductory-text {
        font-size: 16px;
        line-height: 1.25;
        width: 380px;
    }

    .courses-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .courses-list li {
        flex-basis: calc((100% - 20px) / 2);
    }

    .courses-list-container {
        width: 100%;
        padding: 96px 32px 32px 32px;
    }

    .item-number {
        top: 32px;
        left: 32px;
    }

    .our-courses-svg-container {
        top: 32px;
        right: 32px;
    }

    .course-name {
        margin-bottom: 180px;
    }

    .course-description {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1280px) {
    .our-courses {
        margin: 150px auto;
    }

    .our-courses .container {
        max-width: 1280px;
        padding: 0 100px;
    }

    .our-courses-introductory-text {
        width: 405px;
    }

    .courses-list {
        flex-wrap: nowrap;
    }

    .courses-list li {
        width: calc((100% - 40px) / 3);
    }
}

@media screen and (min-width: 1440px) {

    .our-courses .container {
        max-width: 1440px;
    }

    .our-courses-introductory-text {
        width: 565px;
    }
}