/**
 |============================
 | base
 |============================
*/
.title-h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    text-transform: capitalize;
}

.title-h3 span {
    color: var(--color-secondary-title);
}

.text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.subtext {
    color: var(--color-secondary-text);
    font-size: 12px;
    line-height: 1.33;
}

.input-field {
    border-radius: 12px;
    outline: 0;
    border: 1px solid var(--our-courses-border-color);
    padding: 20px 18px;
    background: transparent;
    font-size: 14px;
    line-height: 1.28;
    color: var(--color-primary-text);
    width: 100%;
    resize: none;
}

.input-field::placeholder {
    opacity: .7;
}

.input-field:focus {
    border: 1px solid var(--color-secondary-text);
}

/**
 |============================
 | button
 |============================
*/
.btn-signup {
    border-radius: 12px;
    background: var(--color-primary-text);
    padding: 16px 84px;
    text-align: center;
    border: 0;
    outline: 0;
    color: var(--color-primary-bg);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-signup:hover {
    background: var(--color-button-secondary);
    color: var(--color-secondary-title);
}

/**
 |============================
 | scrollbar
 |============================
*/
textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background-color: var(--color-primary-text);
    border-radius: 0 30px 30px 0;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 0 30px 30px 0;
    background: var(--color-secondary-title);
}

/**
 |============================
 | block style
 |============================
*/
.sign-up {
    margin: 80px auto;
}

.test-container {
    max-width: 335px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sign-up__title {
    margin-bottom: 20px;
}

.sign-up__text {
    margin-bottom: 40px;
    width: 80%;
}

.sign-up__block-form {
    max-width: 480px;
}

.sign-up__block-img {
    max-width: 560px;
    min-width: 540px;
    display: none;
}

.sign-up__input-container {
    width: 100%;
    margin-bottom: 14px;
}

.sign-up__input-container:nth-child(3) {
    margin-bottom: 0;
}

.sign-up__input-container textarea {
    height: 120px;
    margin-bottom: 40px;
}

.sign-up__submit {
    width: 100%;
    margin-bottom: 20px;
}

.sign-up__policy a {
    text-decoration: underline;
}

/**
 |============================
 | image block
 |============================
*/
.sign-up__block-img {
    flex-wrap: nowrap;
    column-gap: 20px;
    align-items: end;
    margin-bottom: 38px;
}

.sign-up__lens {
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background: var(--color-secondary-title) url(../img/images/sign_up/desktop_1440/lens_1x_desktop_1440.webp) no-repeat -25px 70% / 100%;
    padding: 63px 18px 62px;
}

.sign-up__camera {
    width: 340px;
    height: 540px;
    border-radius: 1000px;
    background: var(--color-button-secondary) url(/img/images/sign_up/desktop_1440/camera_sign_up_1x_desktop_1440.webp) no-repeat center 60% / 70%;
    padding: 139px 48px 88px;
}

/**
 |============================
 | retina
 |============================
*/
@media (min-resolution: 192dpi) {
    .sign-up__lens {
        background: var(--color-secondary-title) url(../img/images/sign_up/desktop_1440/lens_2x_desktop_1440.webp) no-repeat -25px 70% / 100%;

    }

    .sign-up__camera {
        background: var(--color-button-secondary) url(../img/images/sign_up/desktop_1440/camera_sign_up_2x_desktop_1440.webp) no-repeat center 60% / 70%;
    }
}

/**
 |============================
 | media
 |============================
*/
@media screen and (min-width: 768px) {
    .sign-up {
        margin: 100px auto;
    }

    .test-container {
        max-width: 768px;
        padding-left: 32px;
    }

    .title-h3 {
        font-size: 48px;
        line-height: 1.12;
    }

    .text {
        font-size: 16px;
        line-height: 1.25;
        width: 100%;
    }

    .subtext {
        font-size: 14px;
        line-height: 1.28;
    }

    .input-field {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1280px) {
    .sign-up {
        margin: 150px auto;
    }

    .test-container {
        max-width: 1080px;
        padding-left: 0;
    }

    .sign-up__block-img {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .sign-up__lens {
        width: 190px;
    }

    .test-container {
        max-width: 1240px;
    }

    .sign-up__camera {
        width: 350px;
    }
}

.container {
    padding: 0;
}