/**
 |============================
 | base
 |============================
*/
.title-h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-transform: capitalize;
}

.title-h3 span {
    color: var(--color-secondary-title);
}

.text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
}

.subtext {
    color: var(--color-secondary-text);
    font-size: 14px;
    line-height: 1.28;
}

.input-field {
    border-radius: 12px;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 20px 18px;
    background: transparent;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-primary-text);
    width: 100%;
    resize: none;
}

.input-field::placeholder {
    opacity: .7;
}

.input-field:focus {
    border: 1px solid rgba(255, 255, 255, 0.50);
}

/**
 |============================
 | button
 |============================
*/
.btn-signup {
    border-radius: 12px;
    background: var(--color-primary-text);
    padding: 16px 84px;
    text-align: center;
    border: 0;
    outline: 0;
    color: var(--color-primary-bg);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    text-transform: uppercase;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-signup:hover {
    background: var(--color-button-secondary);
    color: var(--color-secondary-title);
}

/**
 |============================
 | scrollbar
 |============================
*/
textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background-color: var(--color-primary-text);
    border-radius: 0 30px 30px 0;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 0 30px 30px 0;
    background: var(--color-secondary-title);
}

/**
 |============================
 | block style
 |============================
*/
.sign-up {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
}

.sign-up__title {
    margin-bottom: 20px;
}

.sign-up__text {
    margin-bottom: 40px;
}

.sign-up__block-form {
    max-width: 480px;
}

.sign-up__block-img {
    max-width: 560px;
    min-width: 540px;
    display: none;
}

.sign-up__input-container {
    width: 100%;
    margin-bottom: 14px;
}

.sign-up__input-container:nth-child(3) {
    margin-bottom: 0;
}

.sign-up__input-container textarea {
    height: 120px;
    margin-bottom: 40px;
}

.sign-up__submit {
    width: 100%;
    margin-bottom: 20px;
}

.sign-up__policy a {
    text-decoration: underline;
}

/**
 |============================
 | image block
 |============================
*/
.sign-up__block-img {
    flex-wrap: nowrap;
    column-gap: 20px;
    align-items: end;
    margin-bottom: 38px;
}

.sign-up__lens {
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background: var(--color-secondary-title) url(../img/images/sign_up/desktop_1440/lens_1x_desktop_1440.webp) no-repeat -25px 70% / 100%;
    padding: 63px 18px 62px;
}

.sign-up__camera {
    width: 340px;
    height: 540px;
    border-radius: 1000px;
    background: var(--color-button-secondary) url(/img/images/sign_up/desktop_1440/camera_sign_up_1x_desktop_1440.webp) no-repeat center 60%;
    background-size: inherit;
    padding: 139px 48px 88px;
}

/**
 |============================
 | media
 |============================
*/
@media screen and (min-width: 1280px) {
    .sign-up__block-img {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .sign-up__lens {
        width: 190px;
    }

    .sign-up__camera {
        width: 350px;
    }
}